doctype html
html
  head
    title Issue Tracker
    script( src='/vendor/jquery.min.js' )
    script( src='/vendor/bootstrap.min.js' )
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
